.subtitle {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 2%;
  background: #fff;
  border: 3px solid #dddddd;
  border-radius: 8px;
  padding: 0.25rem;
  overflow: scroll;
}

.subtitle .title {
  font-size: 0.75rem;
  margin: 0.5rem 0;
  font-weight: 700;
}

.subtitle .information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0;
  width: 100%;
  height: 100%;
}

.subtitle .information .equipment-name {
  font-size: 0.75rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.subtitle .information .equipment-name a {
  color: #000;
}

.subtitle .information .equipment-name .point {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
  margin-top: 0.25rem;
}

@media (min-width: 768px) {
  .subtitle {
    width: 25%;
  }

  .subtitle .title {
    font-size: 1.25rem;
    margin: 0.75rem 0;
  }

  .subtitle .information .equipment-name {
    font-size: 1rem;
  }

  .subtitle .information .equipment-name .point {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
  }
}

@media (min-width: 1024px) {
  .subtitle .title {
    font-size: 1.75rem;
  }

  .subtitle .information .equipment-name {
    font-size: 1.5rem;
  }

  .subtitle .information .equipment-name .point {
    width: 1rem;
    height: 1rem;
  }
}

@media (min-width: 1440px) {
  .subtitle .information .equipment-name {
    gap: 0.5rem;
  }

  .subtitle .title {
    font-size: 2rem;
  }

  .subtitle .information .equipment-name {
    font-size: 1.75rem;
  }

  .subtitle .information .equipment-name .point {
    width: 1.25rem;
    height: 1.25rem;
  }

  .subtitle .information .equipment-model {
    font-size: 1.5rem;
    display: block;
  }
}

@media (min-width: 2560px) {
  .subtitle .information .equipment-name {
    gap: 0.75rem;
  }

  .subtitle .title {
    font-size: 4rem;
    margin: 2rem 0;
  }

  .subtitle .information .equipment-name {
    font-size: 3.5rem;
  }

  .subtitle .information .equipment-name .point {
    width: 2.75rem;
    height: 2.75rem;
  }

  .subtitle .information .equipment-model {
    font-size: 3rem;
    margin-top: 0.5rem;
  }
}
