
.card {
    background-color: #9e9e9e ;
    border-radius: 10px;
    padding: 20px;
    height: 170px;
    box-sizing: border-box;
    width: calc(100% - 40px);
    margin: 20px;
    border: 2px solid #63636394;
}