.report{
    flex-direction: column;
    background-color: white;
    height: fit-content;
}

.report p{
    margin: 0;
}

.report-info{
    flex-direction: column;
}
.report-position, .report-state, .report-equipment{
    flex-direction: column;
    background-color: rgb(228, 228, 228);
}
.report__state-history{
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
    bottom: -.45vh;
}
.report__state-history p{
    text-transform: lowercase;
}