.report{
    flex-direction: column;
    height: fit-content;
    border: 1px solid;
}

.report p{
    margin: 0;
}
.report-position, .report-state, .report-equipment{
    flex-direction: column;
}

.report-position:hover, .report-state:hover, .report-equipment:hover{
    color: green;
}

.report__state-history{
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
    bottom: -.45vh;
}
.report__state-history p{
    text-transform: lowercase;
}