.state-history{
    flex-direction: column;
    padding: .5em;
    overflow-y: scroll;
    position: relative;
    bottom: -.45vh;
}

.state-history p{
    text-transform: lowercase;
    font-size: .9em;
}

.state-history__title{
    padding-left: .5em;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Fira sans';
}