.legend {
    position: absolute;
    bottom: 3vh;
    right: 3vh;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    column-count: 2;
    column-gap: 10px;
}
  
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }