.map-container{
    height: 90.3vh;
    border: 1px solid var(--mainBgColor);
    width: 78vw;
}

.leaflet-container{
    width: 78vw;
}

.leaflet-top, .leaflet-left{
    background-color: white;
}

.leaflet-control-zoom-in span, .leaflet-control-zoom-out span {
    background-color: white;
    color: var(--mainBgColor);
}

.marker-selected {
   background-color: rgba(127, 255, 255, 0.329);
}