.funnel {
    color: rgb(102, 101, 101);
    border: 2px solid rgb(156, 156, 156);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.096);
}