//@import "../components/Map/Map";


body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



.container {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100vw; /* set container width to full viewport width */
  height: 100vh; /* set container height to full viewport height */
}

.column-left {
  background-color: lightblue; /* replace with your desired color */
}

.column-right {
  background-color: lightgray; /* replace with your desired color */
}